<div class="d-flex">
  <!-- Menú Vertical -->
  <nav class="nav flex-column p-3" style="width: 250px; height: 100vh; background-color: #333;">
    <a class="navbar-brand text-white" href="#">Dashboard</a>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/inicio">
          <i class="fas fa-home"></i> Inicio
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/areas">
          <i class="fas fa-th-large"></i> Área
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/equipos">
          <i class="fas fa-tools"></i> Equipos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/funcionarios">
          <i class="fas fa-users"></i> Funcionarios
        </a>
      </li>
      <!-- Enlace al nuevo componente de Asignación de Equipos -->
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/asignaciones">
          <i class="fas fa-tasks"></i> Asignación de Equipos
        </a>
      </li>
    </ul>
  </nav>

  <!-- Contenido Principal -->
  <div class="flex-grow-1 p-4">
    <router-outlet></router-outlet>
  </div>
</div>