<div class="container mt-5">
  <h2 class="title">{{ area.areaId ? 'Editar Área' : 'Crear Nueva Área' }}</h2>
  <form (ngSubmit)="onSubmit()" class="form-container">
    <div class="form-row">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          id="nombre"
          [(ngModel)]="area.nombre"
          name="nombre"
          class="form-control"
          required
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="tipo">Tipo</label>
        <select id="tipo" [(ngModel)]="area.tipo" name="tipo" class="form-control" required>
          <option value="" disabled selected>Seleccionar</option>
          <option value="oficina">Oficina</option>
          <option value="salon">Salón</option>
          <option value="laboratorio">Laboratorio</option>
          <option value="bodega">Bodega</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group text-center">
        <button type="submit" class="btn-submit">
          {{ area.areaId ? 'Actualizar' : 'Crear' }}
        </button>
      </div>
    </div>
  </form>
</div>
